<div>
    <button routerLink="/">HOME</button>
    <button routerLink="/feed">FEED</button>
    <button routerLink="/about">ABOUT US</button>
    <h1>HOME PAGE</h1>
    <div>
        <input placeholder="Type your item" [(ngModel)]="itemValue">
        <button (click)="addItem()">Add</button>
    </div>
    <div class="posts" *ngFor="let item of items">
        <div>
            <p>{{ item.description }}</p>
            <button (click)="addLike(item.id)">Like</button>
            <p>Likes: {{ item.likes }}</p>
        </div>
        <div>
            <input placeholder="add comment" [(ngModel)]="commentValue">
            <button (click)="addComment(item.id)">Add</button>
            <div *ngFor="let comment of item.comments">
                <p>{{ comment.text }}</p>
            </div>
        </div>
    </div>
</div>